<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skywilling.cn.manager.user.mapper.RoleAndPermissionMapper">
  <resultMap id="BaseResultMap" type="com.skywilling.cn.manager.user.model.RoleAndPermission">
    <id property="roleId" column="role_id"/>
    <id property="permissionId" column="permission_id"/>
  </resultMap>

  <sql id="BaseColumList">
    role_id, permission_id
  </sql>

  <insert id="save" parameterType="roleAndPermission">
    insert into role_permission (role_id,permission_id) values
    <foreach collection="list" item="roleAndPermission" separator=",">
      (#{roleAndPermission.roleId}, #{roleAndPermission.permissionId})
    </foreach>
  </insert>

  <delete id="delete" parameterType="roleAndPermission">
    delete from role_permission
    <where>
      <if test="roleId != null">
        role_id = #{roleId}
      </if>
      <if test="permissionId != null">
        and permission_id = #{permissionId}
      </if>
      <if test="roleId == null and permissionId == null">
        1=0
      </if>
    </where>
  </delete>
</mapper>