<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skywilling.cn.manager.user.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.skywilling.cn.manager.user.model.UserRole">
    <id property="id" column="id"/>
    <result property="role" column="role"/>
    <result property="desc" column="desc"/>
    <result property="available" column="available"/>
    <result property="gmtModify" column="gmt_modify"/>
  </resultMap>

  <sql id="BaseColumList">
    id,role,`desc`,available,gmt_modify
  </sql>

  <insert id="save" parameterType="userRole" useGeneratedKeys="true" keyProperty="id">
    insert into user_roles
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="role != null">
        role,
      </if>
      <if test="desc != null">
        `desc`,
      </if>
      <if test="available != null">
        available,
      </if>
      <if test="gmtModify != null">
        gmt_modify
      </if>
    </trim>
    value
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="role != null">
        #{role},
      </if>
      <if test="desc != null">
        #{desc},
      </if>
      <if test="available != null">
        #{available},
      </if>
      <if test="gmtModify != null">
        #{gmtModify}
      </if>
    </trim>
  </insert>

  <delete id="delete" parameterType="int">
    delete from user_roles
    where id = #{id}
  </delete>

  <update id="update" parameterType="userRole">
    update user_roles
    <set>
      <if test="role != null">
        role = #{role},
      </if>
      <if test="desc != null">
        `desc` = #{desc},
      </if>
      <if test="available != null">
        available = #{available},
      </if>
      <if test="gmtModify != null">
        gmt_modify = #{gmtModify}
      </if>
    </set>
    where id = #{id}
  </update>

  <select id="query" parameterType="int" resultMap="BaseResultMap">
    select <include refid="BaseColumList"/>
    from user_roles
    where id = #{id}
    order by id asc
  </select>

  <select id="queryByPermission" parameterType="int" resultMap="BaseResultMap">
    select ur.*
    from user_roles ur, role_permission rp
    where rp.permission_id = #{permissionId} and rp.role_id = ur.id
    order by ur.id asc
  </select>

  <select id="queryAll" resultMap="BaseResultMap">
    select <include refid="BaseColumList"/>
    from user_roles order by id asc
  </select>

  <select id="queryBy" parameterType="string" resultMap="BaseResultMap">
    select <include refid="BaseColumList"/>
    from user_roles
    where role = #{name}
  </select>
</mapper>