<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skywilling.cn.manager.user.mapper.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.skywilling.cn.manager.user.model.UserInfo">
    <id property="uid" column="uid"/>
    <result property="username" column="username"/>
    <result property="password" column="password"/>
    <result property="pwdKey" column="pwd_key"/>
    <result property="realName" column="real_name"/>
    <result property="phoneNumber" column="phone_number"/>
    <result property="email" column="email"/>
    <result property="gmtModify" column="gmt_modify"/>
    <result property="gmtCreate" column="gmt_create"/>
    <association property="role" column="role_id" select="com.skywilling.cn.user.mapper.RoleMapper.query">
    </association>
  </resultMap>

  <sql id="BaseColumnList">
    uid, role_id, username, `password`, pwd_key, real_name, phone_number, email, gmt_modify,gmt_create
  </sql>

  <insert id="save" parameterType="userInfo" useGeneratedKeys="true" keyProperty="uid">
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="role != null and role.id != null">
        role_id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        `password`,
      </if>
      <if test="pwdKey != null">
        pwd_key,
      </if>
      <if test="realName != null">
        real_name,
      </if>
      <if test="phoneNumber != null">
        phone_number,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="gmtModify != null">
        gmt_modify,
      </if>
      <if test="gmtCreate != null">
        gmt_create
      </if>
    </trim>
    value
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid},
      </if>
      <if test="role != null and role.id != null">
        #{role.id},
      </if>
      <if test="username != null">
        #{username},
      </if>
      <if test="password != null">
        #{password},
      </if>
      <if test="pwdKey != null">
        #{pwdKey},
      </if>
      <if test="realName != null">
        #{realName},
      </if>
      <if test="phoneNumber != null">
        #{phoneNumber},
      </if>
      <if test="email != null">
        #{email},
      </if>
      <if test="gmtModify != null">
        #{gmtModify},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate}
      </if>
    </trim>
  </insert>

  <delete id="delete" parameterType="int">
    delete from user_info
    where uid = #{id}
  </delete>

  <update id="update" parameterType="userInfo">
    update user_info
    <set>
      <if test="role != null and role.id != null">
        role_id = #{role.id},
      </if>
      <if test="username != null">
        username = #{username},
      </if>
      <if test="password != null">
        `password` = #{password},
      </if>
      <if test="pwdKey != null">
        pwd_key = #{pwdKey},
      </if>
      <if test="realName != null">
        real_name = #{realName},
      </if>
      <if test="phoneNumber != null">
        phone_number = #{phoneNumber},
      </if>
      <if test="email != null">
        email = #{email},
      </if>
      <if test="gmtModify != null">
        gmt_modify = #{gmtModify},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate}
      </if>
    </set>
    where uid = #{uid}
  </update>

  <select id="query" parameterType="int" resultMap="BaseResultMap">
    select <include refid="BaseColumnList"/>
    from user_info
    where uid = #{id}
    order by uid asc
  </select>

  <select id="queryAll" parameterType="int" resultMap="BaseResultMap">
    select <include refid="BaseColumnList"/>
    from user_info
    order by uid asc
  </select>

  <select id="queryByRole" parameterType="int" resultMap="BaseResultMap">
    select <include refid="BaseColumnList"/>
    from user_info
    where role_id = #{roleId}
    order by uid asc
  </select>

  <select id="queryBy" parameterType="string" resultMap="BaseResultMap">
    select <include refid="BaseColumnList"/>
    from user_info
    where username = #{name}
  </select>

  <select id="queryByPhone" parameterType="string" resultMap="BaseResultMap">
    select <include refid="BaseColumnList"/>
    from user_info
    where phone_number = #{phoneNumber}
  </select>
</mapper>